body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/technology/background-technology-desktop.jpg");
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 1em;
  align-items: center;
}
.links {
  display: flex;
  padding: 1.5em;
  backdrop-filter: blur(10px);
}
.links a {
  text-transform: uppercase;
  color: white;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.links a span {
  margin-right: 5px;
}

.active {
  border-bottom: 1px solid white;
}
main {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.heading {
  margin-left: 50px;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
}
.banner {
  display: block;
  font-size: 3em;
  text-transform: uppercase;
}
.left {
  margin: 2em;
  width: 50%;
  font-size: 1.2em;
  display: flex;
  justify-content: left;
}
.right {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
h1 {
  text-align: left;
}
p {
  font-size: 0.8em;
}
.link-container {
  height: 30px;
  text-align: justify;
margin: 0 10px;
}
.link-container:hover {
  border-bottom: 1px solid white;
}
.line {
  background-color: white;
  width: 80%;
  height: 1px;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info div {
  margin: 1em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.info-distance {
  font-size: 0.8em;
}
.value {
  font-size: 1.2em;
}
.crew-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 20px;
}
.inner-links {
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid gray;
  color: #fff;
  padding: 1em;
  margin: 1em 0;
  border-radius: 50%;
}
.inner-links:hover {
  background-color: white;
  color: #000;
}
.tag-active {
  color: #000 !important;
  background-color: white !important;
}
.para {
  line-height: 25px;
  word-wrap: break-word;
}
.para-banner {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.para-head {
  margin-bottom: 1em;
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  body {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
    overflow-y: visible;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main {
    height: 100vh;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .crew-links{
    flex-direction: row;
  }
  .inner-links{
    margin: 0 10px;
  }
  .heading {
    font-size: 1em;
  }
  .banner {
    font-size: 4em;
  }
  main {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .links {
    display: none;
  }
  .link-container {
    margin: 10px 0;
  }
  .hamburger-menu {
    display: flex;
  }
  p {
    font-size: 0.8em;
  }
  .right {
    width: 100%;
    padding: 1em;
  }
  .icon {
    padding: 1em;
    background-repeat: no-repeat;
    background-image: url("./assets/shared/icon-hamburger.svg");
  }
  .active-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -20%);
    transition: ease-in 1s;
    z-index: 100;
  }
  .icon-active {
    background-image: url("./assets/shared/icon-close.svg") !important;
  }
}